.product-contentainer {
    display: flex;
    margin: 0 20%;
}

.product-image-container {
    margin: 0 32px 0 0;
    max-height: 480px;
    max-width: 480px;
}

.product-image {
    max-height: 100%;
    max-width: 100%;
}

.product-info-container {
    width: 100%;
}

.product-title {
    font-size: 2em;
    text-align: justify;
    width: 100%;
}

.product-add-cart-container {
    text-align: right;
}

.product-price {
    font-size: 1.5em;
    margin: 4px 0;
}

.product-quantity-label {
    display: block;
    font-size: 1em;
    margin: 4px 0;
}

.product-quantity {
    box-sizing: border-box;
    display: inline;
    margin: 4px 0 4px 8px;
    padding: 4px;
    height: auto;
    width: 80px;
}

.product-metadata-container {
    font-size: 1em;
    margin: 4px 0;
}

.product-metadata {
    color: black;
    display: inline-block;
    font-weight: bold;
    margin-right: 4px;
}

.product-metadata-value {
    color: dimgray;
    display: inline-block;
    margin-left: 4px;
}
