.header-container {
  align-items: center;
  background-color: lightblue;
  border-bottom: 1px solid dimgray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  padding: 12px;
  height: auto;
  width: 100%;
}

.search-form {
  align-items: center;
  display: flex;
  height: auto;
  width: auto;
}

.search-bar {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 4px;
  height: 36px;
  width: 400px;
}

.search-button {
  background-color: cornflowerblue;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 4px;
  height: 36px;
  width: 36px;
}

.search-button:hover {
  cursor: pointer;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 100%;
}

.filters-container {
  padding: 16px;
}

.filters-field {
  font-weight: bold;
  margin: 4px 0;
  display: block;
}

.filters-input {
  box-sizing: border-box;
  margin: 4px 0;
  padding: 4px;
  height: auto;
  width: 280px;
}

.filters-price {
  box-sizing: border-box;
  margin: 4px 0;
  padding: 4px;
  height: auto;
  width: 140px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-container {
  box-sizing: border-box;
  color: black;
  display: inline;
  font-family: Arial;
  font-size: 1em;
  margin: 16px;
  padding: 0;
  height: auto;
  width: 280px
}

.product-image-container {
  display: flex;
  margin: 0;
  height: 320px;
  width: 280px;
}

.product-image {
  margin: auto;
  max-height: 80%;
  max-width: 80%;
}

.product-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.product-title {
  color: black;
  font-weight: bold;
  margin: 8px 0;
  text-align: justify;
  text-decoration: none;
  width: 100%;
}

.product-title:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.product-price {
  margin: 4px 0;
  font-size: 1.5em;
  width: 100%;
}

.product-metadata {
  color: black;
  font-weight: bold;
  margin: 0;
  width: 40%;
}

.product-metadata-value {
  color: dimgray;
  font-weight: 0;
  margin: 0;
  width: 60%;
}
